<!-- <div class="container d-flex justify-content-center align-items-center vh-50">
	<div class="card shadow-lg border-0" style="width: 100%; max-width: 420px;">
		<div class="card-header bg-primary text-white text-center">
			<h4 class="mb-0">User Login</h4>
		</div>
		<form >
			<div class="card-body">

			<div class="form-floating mb-3">
				<label>Email address</label>
				<input type="email" class="form-control"  name="emailId" placeholder="Enter Email" [(ngModel)]="login.email" required autocomplete="current-email"/>
				
			</div>

			<div class="form-floating mb-4">
				<label>Password</label>
				<input type="password" class="form-control"  name="password" placeholder="Enter Password" [(ngModel)]="login.password"  required  autocomplete="current-password"/>
				
			</div>

			<button type="submit" class="btn btn-primary w-100" (click)="onLogin()">
				Login
			</button>

		</div>
		</form>
		
	</div>
</div> -->